<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="salvar()"
    class="container-cadastro-produto"
  >
    <h2>Cadastro de Produto</h2>
    <label for="nome">Nome</label>
    <mat-form-field class="custom-field" appearance="outline">
      <input id="nome" matInput formControlName="nome" />
      <mat-icon matPrefix fontIcon="app_registration"></mat-icon>
    </mat-form-field>

    <label for="taxa-anual">Taxa anual</label>
    <mat-form-field class="custom-field" appearance="outline">
      <input
        id="taxa-anual"
        matInput
        formControlName="taxaAnual"
        appMoedaDinamica
        #taxaInput
        [ngClass]="{ 'input-zero': isInputZerado(taxaInput) }"
      />
      <mat-icon matPrefix fontIcon="percent"></mat-icon>
    </mat-form-field>

    <label for="prazo-maximo">Prazo máximo (em meses)</label>
    <mat-form-field class="custom-field" appearance="outline">
      <input type="number" id="prazo-maximo" matInput formControlName="prazoMaximo" />
      <mat-icon matPrefix fontIcon="date_range"></mat-icon>
    </mat-form-field>

    <div>
      <button class="botao-acao" mat-raised-button [disabled]="form.invalid">
        {{ form.value.id ? "Editar" : "Salvar" }}
      </button>
    </div>
  </form>
</div>
