
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-cadastro-produto {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 20px;
  padding: 32px;
  border-radius: 20px;
  border: 1px solid var(--cinza-darker-1);
  position: relative;
}

.back-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}

h2 {
  color: var(--azul_cx-st);
  text-align: center;
  margin-top: 0;
}

label {
  font-weight: 500;
}

.custom-field {
  width: 350px;
  margin-bottom: 16px;
}

mat-icon {
  color: var(--laranja_cx-st);
}

.input-zero {
  color: #FFFFFF;
}

div .botao-acao {
  background-color: var(--laranja_cx-st);
  color: white;
  margin-bottom: 20px;
  width: 350px;
  height: 40px;
}

div .botao-acao:hover {
  background-color: var(--laranja_cx-lighter-1);
}

div .botao-acao:active {
  background-color: var(--laranja_cx-darker-1);
}

div .botao-acao:disabled {
  background-color: var(--cinza-darker-1);
  color: white;
}

.mat-mdc-form-field-input-control {
  font-family: var(--fonte-principal) !important;
  color: var(--grafite-st) !important;
}

:host ::ng-deep .custom-field.mat-mdc-form-field .mdc-notched-outline__leading,
:host ::ng-deep .custom-field.mat-mdc-form-field .mdc-notched-outline__notch,
:host ::ng-deep .custom-field.mat-mdc-form-field .mdc-notched-outline__trailing {
  border-color: var(--cinza-darker-1) !important;
  border-width: 1px !important;
}

:host ::ng-deep .custom-field.mat-mdc-form-field:hover .mdc-notched-outline__leading,
:host ::ng-deep .custom-field.mat-mdc-form-field:hover .mdc-notched-outline__notch,
:host ::ng-deep .custom-field.mat-mdc-form-field:hover .mdc-notched-outline__trailing {
  border-color: var(--laranja_cx-st) !important;
}






