<div class="container">
  <form [formGroup]="form" (ngSubmit)="simular()" class="container-simulador">
    <h2>Simulador de empréstimo</h2>
    <label for="option">Crédito</label>
    <mat-form-field class="custom-field" appearance="outline">
      <mat-select formControlName="produto">
        @for (produto of listaProdutos$ | async ; track produto.id) {
        <mat-option [value]="produto">{{ produto.nome }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <label for="valor">Valor</label>
    <mat-form-field class="custom-field" appearance="outline">
      <input
        id="valor"
        matInput
        formControlName="valor"
        appMoedaDinamica
        #txInput
        [ngClass]="{ 'input-zero': isInputZerado(txInput) }"
      />
      <mat-icon matPrefix fontIcon="price_change"></mat-icon>
    </mat-form-field>

    <label for="prazo-meses">Prazo (em meses)</label>
    <mat-form-field class="custom-field" appearance="outline">
      <input
        type="number"
        id="prazo-meses"
        matInput
        formControlName="prazo"
      />
      <mat-icon matPrefix fontIcon="date_range"></mat-icon>
    </mat-form-field>

    <button class="botao-acao" mat-raised-button [disabled]="form.invalid">Simular</button>
  </form>
</div>

<!-- <app-resultado-simulacao [resultado]="resultado"></app-resultado-simulacao> -->

