<div class="card-group">
  <mat-card class="card-item" appearance="outlined" routerLink="/cadastroProduto">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="difference"
    ></mat-icon>
    <mat-card-header>
      <mat-card-title>Cadastrar produto</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="card-item" appearance="outlined" routerLink="/listaProdutos">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="list_alt"
    ></mat-icon>
    <mat-card-header>
      <mat-card-title class="card-title">Listar produtos</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="card-item" appearance="outlined" routerLink="/simulador">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="calculate"
    ></mat-icon>
    <mat-card-header>
      <mat-card-title>Simular empréstimo</mat-card-title>
    </mat-card-header>
  </mat-card>

</div>
